<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/piquete.css">
    <title>WEB</title>
</head>

<body>

    <div class="haut-de-la-page">
        <div class="img-haut-de-page"><a href="/">
                <image class="logo" src="/static/images/home-logo.png"></image>
            </a></div>
        <div class="titre">
            <h1>WEB</h1>
        </div>
    </div>
    <div class="contenu">
        <form action="/form-sign-up" method="POST">
            <h1>Saisit ton prénom</h1>
            <input type="text" name="prenom">
            <h1>Saisit un mot de pass</h1>
            <input type="text" name="password">
            <br>
            <br>
            <button type="submit">Créer compte</button>
        </form>

    </div>