<!--Structure d'une page-->
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" , href="piquete.css">
    <title>WEB</title>
</head>

<body>

    <div class="haut-de-la-page">
        <div class="img-haut-de-page"><a href="accueil.html">
                <image class="logo" src="home-logo.png"></image>
            </a></div>
        <div class="titre">
            <h1>WEB</h1>
        </div>
    </div>

    <div class="menu">
        <div class="objet-menu">
            <td><a href="StructDPage.html">
                    <h3>Structure d'une page</h3>
                </a></td>
        </div>
        <div class="objet-menu">
            <td><a href="PrincipBalises.html">
                    <h3>Principale Balises</h3>
                </a></td>
        </div>
        <div class="objet-menu">
            <td><a href="BalisesFormu.html">
                    <h3>Balises de formulaire</h3>
                </a></td>
        </div>
        <div class="objet-menu">
            <td><a href="css.html">
                    <h3>CSS</h3>
                </a></td>
        </div>
        <div class="objet-menu">
            <td><a href="LngageWeb.html">
                    <h3>Les langages du WEB</h3>
                </a></td>
        </div>
    </div>
    <div class="sous-menu">
        <div class="objet-sous-menu">
            <h4>Structure d'une page</h4>
        </div>
    </div>
    <div class="contenu">
        <h1>Structure d'une page</h1>
        <p>Ce site contient le contenu du cours du module WEB.</p>
    </div>
</body>

</html>